<%- include('header') %> 

<h1>Crear pelicula</h1>

<form action="/movies/crear" method="POST">
    <div>
        <label for="">Titulo</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="">Rating</label>
        <input type="text" name="rating">
    </div>
    <div>
        <label for="">Premios</label>
        <input type="text" name="awards">
    </div>
    <div>
        <label for="">Duracion</label>
        <input type="text" name="length">
    </div>
    <div>
        <label for="">Fecha de estreno</label>
        <input type="date" name="release_date">
    </div>
    <div>
        <label for="">Generos</label>
        <select name="genero">
            <% for(let i = 0; i < genre.length; i++) { %> 
            <option value="<%= genre[i].id%>">
                <%= genre[i].name %> 
            </option>
            <% } %> 
        </select>
    </div>
    <button type="submit">Crear</button>


</form>


<%- include('footer') %> 