<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <p>Peliculas con CRUD</p>
            <nav>
                <ul>
                    <li>
                        <a href="/movies/crear">Crear Pelicula </a>
                    </li>
                    <li>
                        <a href="/movies">Ver Peliculas</a>
                    </li>
                </ul>
            </nav>
        </header>
        
    